

<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowercase"
                [subheader]="nombreUpper">
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase"
                [subheader]="nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>


<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short' </li>
                <li>fecha | date:'long' </li>
                <li>fecha | date:'MMMM' </li>
                <li>fecha | date:'MMMM dd, yyyy' </li>
                <li>fecha | date:'ww/53 dd/MM/YYYY HH:MM' (custom Juan lu) </li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'MMMM' }}</li>
                <li>{{ fecha | date:'MMMM dd, yyyy' }}</li>
                <li>{{ fecha | date:'ww/53 dd/MM/YYYY HH:MM' }}</li>
            </ul>
        </p-card>
    </div>
</div>